.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
.vscode/
ios/Pods/
android/.gradle/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
*.g.dart
